@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); */

.App {
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #ece6ed;
    background: url("../src/assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.header {
    background-color: #ece6ed;
    position: absolute;
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.design-button {
    padding: 20px;
    width: 300px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Viga', sans-serif;
    text-transform: uppercase;
    border-radius: 40px;
    color: #ece6ed;
    background-color: #e44747;
}

.design-button button:focus {
    border: none;
    outline: none;
}

.design-button button:active {
    border: none;
    outline: none;
    background-color: #af1a1a;
}

.design-section {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    /* background-color: #af1a1a; */
    box-sizing: border-box;
    padding: 0 150px;
    padding-top: 100px;
}

.design-section .input {
    width: 75%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #af1a1a; */
}

.input .data-card {
    width: 90%;
    background-color: transparent;
    box-shadow: 1px 1px 10px 1px #e3dbe5;
    padding: 10px 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.data-card .card-head {
    width: 90%;
    padding: 10px 0px;
    display: flex;
    border-bottom: 1px dashed #a7a7a7;
    font-weight: 600;
}

.data-card .card-body-data {
    width: 90%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}

.data-card .name-section {
    display: flex;
    justify-content: space-between;
}

.name-section>form {
    width: 100%;
}

.name-section label {
    display: flex;
    font-weight: 100;
    font-family: 'IBM Plex Sans', sans-serif;
}

.work-section label {
    display: flex;
    font-weight: 100;
    font-family: 'IBM Plex Sans', sans-serif;
}

.form-control::-webkit-input-placeholder {
    font-family: 'myFont', Arial, Helvetica, sans-serif;
}

option {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

.inputState {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

.education-section label {
    display: flex;
    font-weight: 100;
    font-family: 'IBM Plex Sans', sans-serif;
}

.input-tag {
    background: white;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px 0;
}

.input-tag input {
    border: none;
    width: 100%;
}

.input-tag__tags {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}

.input-tag__tags li {
    align-items: center;
    background: #85a3bf;
    border-radius: 2px;
    color: white;
    display: flex;
    font-weight: 300;
    list-style: none;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 10px;
}

.input-tag__tags li button {
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #333333;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    height: 15px;
    justify-content: center;
    line-height: 0;
    margin-left: 8px;
    padding: 0;
    transform: rotate(45deg);
    width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
    background: none;
    flex-grow: 1;
    padding: 0;
}

.design-section .preview-box {
    width: 25%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #af1a1a; */
}

.preview-box .resume-thumbnail {
    margin-top: 150px;
    cursor: pointer;
    border: 1px solid transparent;
}

.preview-box .resume-thumbnail:hover {
    border: 1px solid #434a54;
}

.resume-format {
    display: flex;
}

:root {
    --w1: 250px;
    --w2: 1000px;
}

.preview {
    height: calc(var(--w2)*1.4142);
    width: var(--w2);
    /* background-color: #af1a1a; */
    margin-top: 100px;
    display: flex;
    margin-bottom: 100px;
    font-size: 42px;
}

.not-preview {
    height: calc(var(--w1)*1.4142);
    width: var(--w1);
    /* background-color: #af1a1a; */
}

.preview-box button {
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    box-shadow: none;
    cursor: pointer;
}

.visibility-icon {
    margin-right: 5px;
}

.resume-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    overflow: auto;
}

.resume-modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-block {
    display: flex;
}

.display-none {
    display: none;
}

.resume-format .personal-section {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    background-color: #434a54;
    padding-left: 10px;
}

.resume-format .main-section {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    padding-left: 12px;
}

.mod {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    font-size: 16px;
}

.resume-modal .personal-section {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    background-color: #434a54;
    padding-left: 12px;
}

.resume-modal .main-section {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    padding-left: 12px;
}

.section-sub-header {
    color: #fff;
    font-size: 0.4em;
    display: flex;
    padding: 5px 0 4px 0;
    border-bottom: 0.5px solid #fff;
    font-weight: 600;
}

.section-sub1-header {
    color: #fff;
    font-size: 0.7em;
    display: flex;
    padding: 15px 0 10px 0;
    border-bottom: 0.5px solid #fff;
    font-weight: 600;
}

.section-sub-body {
    color: #fff;
    font-size: 0.3em;
    display: flex;
    padding: 5px 0 4px 0;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-sub1-body {
    color: #fff;
    font-size: 0.6em;
    display: flex;
    padding: 5px 0 4px 0;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.field {
    font-weight: 600;
    font-size: 0.9em;
}

.field-value {
    font-weight: 200;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
}

.main-sub-header {
    color: #434a54;
    font-size: 0.5em;
    display: flex;
    padding: 5px 0 2px 0;
    border-bottom: 0.5px solid #eeeeee;
    font-weight: 600;
}

.main-sub1-header {
    color: #434a54;
    font-size: 0.9em;
    display: flex;
    padding: 5px 0 8px 0;
    border-bottom: 0.5px solid #eeeeee;
    font-weight: 600;
}

.main-sub-body {
    color: #434a54;
    font-size: 0.5em;
    display: flex;
    padding: 5px 0 4px 0;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-sub-body .field {
    width: 100%;
    text-align: left;
    border-bottom: 0.5px solid #eeeeee;
}

.main-sub1-body {
    color: #434a54;
    font-size: 0.8em;
    display: flex;
    padding: 5px 0 4px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.main-sub1-body .field {
    width: 100%;
    text-align: left;
    border-bottom: 0.5px solid #eeeeee;
}

.field-row {
    display: flex;
    flex-direction: column;
    width: 98%;
}

.field-row .field-label {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
}

.field-row .field-mainlabel {
    font-weight: 600;
}

.field-row .field-topic {
    font-weight: 600;
    font-style: italic;
    font-size: 0.6em;
    display: flex;
    text-align: left;
}

.field-row .field-desc {
    font-weight: 200;
    font-style: italic;
    font-size: 0.6em;
    display: flex;
    text-align: left;
}