@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600,200&display=swap');
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
#root>div {
    width: 100%;
    /* height: 100%; */
    background-color: #ece6ed;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}